@model IEnumerable<EShop.Models.Order>

@{
    ViewData["Title"] = "Userorder";
}

<h1>Userorder</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Productname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Useremail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateofPurchase)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Productname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Useremail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateofPurchase)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Orderid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Orderid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Orderid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
